DATABASE_URL=postgresql+asyncpg://server_admin:G_0d5th*3H$10@10.11.52.96:5434/geospatial_tracking_system
DATABASE_URL_SYNC=postgresql://server_admin:G_0d5th*3H$10@10.11.52.96:5434/geospatial_tracking_system
SECRET_KEY=change-this-to-a-long-random-secret-string
ACCESS_TOKEN_EXPIRE_MINUTES=480
ALGORITHM=HS256
ENVIRONMENT=production
